{% extends 'base.html' %}

{% load staticfiles %}
{% load reportsViewer_extras %}

{% block title  %}{{ category_name }}{% endblock %}

{% block body_block %}
    <ol class='breadcrumb'>
        <li><a hrer='{% url 'index' %}'>Home</a></li>
        <li class='active'>{{ category_name }}</a></li>
    </ol>
    <!-- <h3>{{ category_name }}</h3> -->
    <a href='{% url 'category_archive' category.slug %}' class='btn'><i class='glyphicon glyphicon-compressed'></i> Go to archive</a>
        {% if category %}
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endblock messages %}
            {% if reports %}
            <table class='table table-bordered'>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Filename</th>
                    <th>Publish Date</th>
                    <th>Creator</th>
                    <th class='text-center'>Actions</th>
                </tr>
                {% for report in reports %}
                {% comment %}<li><a href="{% url 'report' report.id %}">{{ report.title }}</a></li>{% endcomment %}
                <tr>
                    <td>{{ report.id }}</td>
                    <td><a href="{% url 'report' report.id %}">{{ report.title }}</a></td>
                    <td>{{ report.path|basename }}</td>
                    <td>{{ report.pub_date }}</td>
                    <td>{{ report.creator }}</td>
                    <td class='text-center'>
                        <a href='{% url 'report' report.id %}' class='btn'><i class='glyphicon glyphicon-info-sign'></i></a>
                        <a href='{% url 'download_report' report.id %}' class='btn'><i class='glyphicon glyphicon-download-alt'></i></a>
                        <a href='{% url 'delete_report' report.id %}' class='btn'><i class='glyphicon glyphicon-trash'></i></a>
                        <a href='{% url 'archive_report' report.id %}' class='btn'><i class='glyphicon glyphicon-compressed'></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class='pagination'>
                <span class='step-link'>
                    {% if reports.has_previous %}
                        <a href='?page={{ reports.previous_page_number }}'>previous</a>
                    {% endif %}
                </span>
                <span class='current'>
                    Page {{ reports.number }} of {{ reports.paginator.num_pages }}
                </span>
                    {% if reports.has_next %}
                        <a href='?page={{ reports.next_page_number }}'>next</a>
                    {% endif %}
            </div>
            {% else %}
                <strong>No reports currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
{% endblock %}
