{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <ol class='breadcrumb'>
        <li>Home</li>
        <li class='active'>Realtime Report Generation</li>
    </ol>
<h3>Realtime Categories</h3>
{% if categories %}
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category_realtime'  category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}
{% endblock %}
