{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
    <h1>Request a Report</h1>

    <form id="request_report_form" method="POST" action="/reportsViewer/request_report/">
        {% csrf_token %}
{% comment %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
{% endcomment %}
        <table class='table'>
            {{ form }}
        </table>
        <input type='submit' name='submit' value="Request Report"/>
    </form>

{% endblock %}
